@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

@theme {
  --color-brand-light: #e6f2ef;
  --color-brand-medium: #80b5a8;
  --color-brand-dark: #005c4b;
  --color-brand-darkest: #003d32;
  
  --font-heading: 'Manrope', system-ui, -apple-system, sans-serif;
  --font-descripton: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-slate-800 antialiased font-sans;
  }
}
